@import "_var.scss";


.slider__item {
  padding-top: 33.7%;
  background: {
    repeat: no-repeat;
    position: center center;
    size: cover;
  };
}

.slider-dots {
  display: flex;
  justify-content: center;
  margin-top: -1.5rem;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}

.slider-dots__item {
  background: #fff;
  border: 1px solid #ccc;
  width: 1rem;
  height: 1rem;
  display: block;
  margin: 0 0.40625rem;
}

.slider-dots__item.active {
  background: #000000;
}

.slider__item {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}



